@use './abstracts/colors.scss' as*;
@use './abstracts/mixins.scss';
@use './base/_reset.scss';
@use './base/fonts.scss';
.App{
    width: 100vw;
    min-height: 100vh;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
}
button{
    text-transform: uppercase;
    padding: 1vw 2vw 1vw 2vw;
    width: fit-content;
    background-color: $dark;
    color: $white;
    border:1px solid $white;
}
*{
    margin: 0;
}