@use '../../styles/base/fonts.scss';

.SoftSkills{
    *{transition: all 0.5s;}
    margin-left: 5vw;
    min-height: 100vh;
    width: 90vw;
    text-align: center;
   
    h1{
        margin-left: 20vw;
    }
    h2,h4{
        text-transform: uppercase;
    }
}
.SkillContainer{
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Skill{ 
    width: fit-content;
    height: fit-content;
}
@media screen and (max-width: 700px) {
    .SoftSkills{
        h1{
            font-size: 10vw;
        }
        // h4{font-size: 12px;}
        //  h3{font-size: 20px;}
        //  h2{
        //     font-size: 22px;
        //  }
       
        h2{
            font-size: 6vw;
         }
        h3{font-size: 3.5vw}
        h4{font-size: 3vw} 
     }
     .SkillContainer{
        margin-top: 1vh;
    }
     .Skill{
        width:80vw;
     }
}
@media screen and (max-width: 500px) {
    .SoftSkills{
        min-height: 100vw;
        h1{
          
            margin-left: 0vw;
        }
    }
   
    .Skill{ 
     
        h4{
            font-size: 2.4vw;
        }
        p{
            font-size: 3.5vw
        }
        height: fit-content;
    }
}